body {
  font-size: 14px;
  font-size: 0.875rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  background-color: #1B1310;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.header__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__inner {
    padding: 20px;
  }
}

.header__title {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: medium;
}

.header .mdnav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .mdnav {
    display: block;
  }
  .header .mdnav__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .mdnav__list {
    padding-left: 55px;
  }
  .header .mdnav__list:first-child {
    padding-left: 0;
  }
  .header .mdnav__list a {
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    font-weight: medium;
  }
}

.hamburger {
  top: 15px;
  right: 15px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}

.hamburger__lines {
  position: relative;
  width: 26px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  width: 100%;
  height: 2px;
  top: 10px;
  right: 0;
  display: block;
  background: #fff;
  position: relative;
}

.hamburger__line:before {
  content: '';
  top: -7px;
  left: 0;
  width: 25px;
  height: 2px;
  position: absolute;
  background: #fff;
}

.hamburger__line:after {
  content: '';
  top: 7px;
  left: 0;
  width: 25px;
  height: 2px;
  position: absolute;
  background: #fff;
}

.open {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .open {
    display: none;
  }
}

.open .hamburger__line {
  width: 0;
  position: relative;
}

.open .hamburger__line:before {
  content: '';
  top: 15px;
  left: 0;
  width: 25px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  background: #fff;
}

.open .hamburger__line:after {
  content: '';
  top: 15px;
  left: 0;
  width: 25px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  background: #fff;
}

.open .smnav {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: visible;
}

.smnav {
  background: #1B1310;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .smnav {
    display: none;
  }
}

.smnav__lists {
  padding: 120px 95px;
}

.smnav__list:not(:last-child) {
  margin-bottom: 50px;
}

.smnav__list:not(:last-child) a {
  display: block;
  color: #fff;
  font-weight: bolder;
}

.fv {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  background-image: url(../img/fv-bgi_sp@2x.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .fv {
    background-image: url(../img/fv-bgi@2x.jpg);
  }
}

.fv__catch {
  font-size: 30px;
  font-size: 1.875rem;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  width: 300px;
  height: 100px;
  line-height: 100px;
}

@media screen and (min-width: 768px) {
  .fv__catch {
    font-size: 50px;
    font-size: 3.125rem;
    width: 449px;
    height: 135px;
    line-height: 135px;
  }
}

.main__inner {
  width: 100%;
  max-width: 1024px;
  margin-top: 100px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .main__inner {
    margin: 100px auto 0;
  }
}

.main__title {
  font-size: 36px;
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.main__title--fontWeight {
  font-weight: none;
}

.main__subTitle {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 70px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .main__subTitle {
    font-size: 24px;
    font-size: 1.5rem;
    margin-top: 75px;
    line-height: 48px;
  }
}

.main__subTitle--service {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .main__subTitle--service {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 48px;
  }
}

.main__text {
  margin-top: 30px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .main__text {
    margin-top: 42px;
  }
}

.main__text--service {
  margin-top: 24px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .main__text--service {
    margin-top: 42px;
  }
}

.service__items {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__items:nth-child(2n + 1) {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.service__item__img {
  margin-top: 70px;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .service__item__img {
    margin-top: 40px;
  }
}

.service__item__image {
  width: 100%;
  max-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .service__item__image {
    height: 100%;
  }
}

.service__item__text {
  margin-top: 30px;
  width: 480px;
}

.service__item__text--row {
  margin-top: 30px;
  width: 480px;
}

.news {
  padding: 0;
}

.news__items {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.news__item {
  min-width: 280px;
  margin: 50px 5% 0;
  -webkit-box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
          box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
}

.news__item__text {
  padding: 25px 33px;
  line-height: 25px;
}

.contact {
  max-width: 700px;
  margin: 150px auto 0;
}

.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  text-align: center;
}

.contact .form__item {
  margin-top: 22px;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
  line-height: 30px;
}

.contact .form__item:first-child {
  margin-top: 0;
}

.contact .form__item:last-child {
  margin-top: 50px;
  text-align: center;
}

.contact .form__item:last-child input {
  width: 235px;
  height: 60px;
  border-radius: 50px;
  background: #1B1310;
  color: #fff;
  -webkit-box-shadow: 0 0 6px #1B1310;
          box-shadow: 0 0 6px #1B1310;
  font-size: 20px;
  font-size: 1.25rem;
}

.contact .form__input {
  width: 100%;
  height: 30px;
  border: 1px solid #141414;
}

.contact .form__textarea {
  width: 100%;
  height: 170px;
  border: 1px solid #141414;
}

.footer {
  margin-top: 50px;
  height: 60px;
  line-height: 60px;
  background-color: #1B1310;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 80px;
    line-height: 80px;
  }
}

.copyrigth {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */