//*------------------*
//*  Base定義
//*------------------*

$color-default: #141414;
$color-light: #fff;
$color-background: #1B1310;


//*------------------*
//*  font定義
//*------------------*

@mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size / 16) + rem;
}


//*------------------*
//*  レスポンシブ定義
//*------------------*

@mixin md {
    @media screen and (min-width: 768px) {
        @content;
    }
}


//*------------------*
//*  共通定義
//*------------------*

body {
    @include font-size(14);
    color: $color-default;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}


//*------------------*
//*  その他
//*------------------*

//*-- header --------*

.header {
    background-color: $color-background;
    color: $color-light;
    border-bottom: 2px solid $color-light;
    position: fixed;
    z-index: 10;
    width: 100%;
    &__inner {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 15px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include md {
            padding: 20px;
        }
    }
    &__title {
        @include font-size(26);
        font-weight: medium;
    }
    .mdnav {
        display: none;
        @include md {
            display: block;
            &__lists {
                display: flex;
            }
            &__list {
                padding-left: 55px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    @include font-size(14);
                    font-weight: medium;
                }
            }
        }
    }
}

.hamburger {
    top: 15px;
    right: 15px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
    &__lines {
        position: relative;
        width: 26px;
    }
    @include md {
        display: none;
    }
    &__line {
        width: 100%;
        height: 2px;
        top: 12px;
        right: 0;
        display: block;
        background: $color-light;
        position: relative;
        &:before {
            content: '';
            top: -7px;
            left: 0;
            width: 25px;
            height: 2px;
            position: absolute;
            background: $color-light;
        }
        &:after {
            content: '';
            top: 7px;
            left: 0;
            width: 25px;
            height: 2px;
            position: absolute;
            background: $color-light;
        }
    }
}

.open {
    overflow: hidden;
    @include md {
        display: none;
    }
    .hamburger__line {
        width: 0;
        position: relative;
        &:before {
            content: '';
            top: 13px;
            left: -2px;
            width: 25px;
            height: 2px;
            transform: rotate(45deg);
            position: absolute;
            background: $color-light;
        }
        &:after {
            content: '';
            top: 13px;
            left: -2px;
            width: 25px;
            height: 2px;
            transform: rotate(-45deg);
            position: absolute;
            background: $color-light;
        }
    }
    .smnav {
        width: 100%;
        transition: .5s;
        visibility: visible;
    }
}

.smnav {
    background: $color-background;
    color: $color-light;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    @include md {
        display: none;
    }
    &__list {
        line-height: 72.5px;
        a {
            display: block;
            color: $color-light;
        }
        &:first-of-type {
            margin-top: 190px;
        }
    }
}

//*-- main ----------*

.fv {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/fv-bgi_sp@2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include md {
        background-image: url(../img/fv-bgi@2x.jpg);
    }
    &__catch {
        @include font-size(30);
        border: 2px solid $color-light;
        color: $color-light;
        text-align: center;
        width: 300px;
        height: 100px;
        line-height: 100px;
        @include md {
            @include font-size(50);
            width: 449px;
            height: 135px;
            line-height: 135px;
        }
    }
}

.main {
    &__inner {
        width: 100%;
        max-width: 1070px;
        padding: 0 15px;
        @include md {
            margin: 0 auto;
        }
    }
    &__title {
        @include font-size(36);
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
    }
    &__subTitle {
        @include font-size(20);
        margin-top: 70px;
        line-height: 40px;
        letter-spacing: .15rem;
        @include md {
            @include font-size(24);
            line-height: 48px;
            letter-spacing: .25rem;
        }
        &--service {
            @include font-size(20);
            margin-top: 0;
            line-height: 40px;
            @include md {
                @include font-size(24);
                line-height: 48px;
            }
        }
    }
    &__text {
        margin-top: 20px;
        line-height: 30px;
        letter-spacing: .05rem;
        @include md {
            margin-top: 30px;
        }
        &--service {
            margin-top: 24px;
            line-height: 30px;
        }
    }
}

.about {
    margin-top: 100px;
}

.service {
    margin-top: 150px;
    @include md {
        margin-top: 160px;
    }
    &__items {
        margin-top: 40px;
        display: flex;
        flex-direction: column-reverse;
        &:nth-child(2n + 1) {
            margin-top: 15px;
        }
        @include md {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &:nth-child(2n + 1) {
                margin-top: 25px;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__item__img {
        margin-top: 35px;
        @include md {
            margin-top: 40px;
            width: 480px;
        }
    }
    &__item__image {
        width: 100%;
        max-width: 100%;
        height: 150px;
        object-fit: cover;
        @include md {
            height: 100%;
        }
    }
    &__item__text {
        margin-top: 30px;
        @include md {
            width: 480px;
        }
        &--row {
            margin-top: 30px;
            @include md {
                width: 480px;
            }
        }
    }
}

.news {
    margin-top: 155px;
    @include md {
        margin-top: 150px;
        padding: 0;
    }
    &__items {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    &__item {
        min-width: 280px;
        margin: 50px 3% 0;
        box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
        @include md {
            margin: 50px 5% 0;
        }
        &__text {
            padding: 20px 33px 25px;
            line-height: 25px;
        }
    }
}

.contact {
    width: 100%;
    max-width: 730px;
    margin: 155px auto 0;
    .main__title--fontWeight {
        @include font-size(26);
        text-align: center;
    }
    .form {
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        text-align: center;
        @include md {
            margin-top: 65px;
        }
        &__item {
            margin-top: 15px;
            @include font-size(16);
            text-align: left;
            line-height: 30px;
            letter-spacing: .05rem;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-top: 50px;
                text-align: center;
                .form__submit {
                    width: 235px;
                    height: 60px;
                    border-radius: 50px;
                    background: $color-background;
                    color: $color-light;
                    box-shadow: 0 0 6px $color-background;
                    @include font-size(20);
                }
            }
        }
        &__input {
            width: 100%;
            max-width: 100%;
            height: 30px;
            border: 1px solid $color-default;
        }
        &__textarea {
            width: 100%;
            max-width: 100%;
            height: 170px;
            border: 1px solid $color-default;
        }
    }
}

//*-- footer --------*

.footer {
    margin-top: 50px;
    height: 60px;
    line-height: 60px;
    background-color: $color-background;
    text-align: center;
    @include md {
        height: 80px;
        line-height: 80px;
    }
}

.copyrigth {
    color: $color-light;
    @include font-size(14);
}